html { scroll-behavior: smooth; }

html body{
    background-image: url(fon2.jpg);
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100% 100%;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    /*letter-spacing: 0.03em;*/
}

[class*="__wrapper"]{
    margin: 0 auto;
}



/*body .container{
    width: 85%;
}*/
.header{
    border-bottom: 1px solid black;
    font-weight: 300;
}

.header--wrapper{
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.header--wrapper__logo{
    display: flex;
    align-items: center;


}
body a{
    color: black;
    text-decoration: none;
}

.header__text{
    background: linear-gradient(90deg, #00CC6C 0.14%, #17C83B 23.74%, #2881DA 49.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.header--wrapper__logo img{
    margin-right: 10px;
}

.menu{
    display: flex;
    align-items: center;
    margin-left: auto;

    width: 896px;
    justify-content: space-between;


}

.menu__link{
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 242px;
    height: 40px;
    font-size: 18px;

    padding-left: 15px;
    padding-right: 40px;
    border: 0px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

.search__btn{
    cursor: pointer;
    margin-left: -32px;
    padding-right: 8px;
}

/*.menu__search::after{*/
/*    content: url('img/search.svg');*/
/*}*/


/*Секция слайдер*/
.slider{
    height: 400px;
    background: white;

    margin-top: 185px;
    padding: 0 0 0 0;
    display: flex;
    align-items: center;
}

.left--man{
    margin-top: auto;
    margin-right: auto;
}

.right--man{
    margin-left: auto;
}

.slider--wrapper{
    display: flex;
    justify-content: center;
}


/*Секция рекомендации*/
.recommendations__wrapper{
    padding: 0 0 0 0;
    /*width: 85%;*/
    margin: 0 auto;
}

.title{
    margin-bottom: 24px;
}

.recommendations{
    margin-top: 290px;
}

.recommendations__cards{
    display: flex;
    justify-content: space-between;
}

.recommendations__item{
    width: 350px;
    height: 462px;

    border-radius: 40px;
    border: 1px solid #C4C4C4;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);

    cursor: pointer;

    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.recommendations__item:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.up{
    height: 50%;
    border-radius: 40px 40px 0 0;
}

.up::after{
    display: flex;
    justify-content: center;
}

.down{
    height: 50%;
    border-radius: 0 0 40px 40px;
    background: white;

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    font-style: normal;
}

.down__title{
    font-size: 20px;
    color: #212121;
    line-height: 25px;
}

.down__content{
    font-size: 16px;
    margin-top: 16px;
    color: #474747;
    line-height: 21px;
}

.recommendations__item__1 .up{
    background: #E1F1F2;
}

.recommendations__item__2 .up{
    background: #D2E8FF;
}

.recommendations__item__3 .up{
    background: #E6E6E6;
}

.recommendations__item__1 .up::after{
    content: url("img/Index--page/rec--card1.png");
    padding-top: 10px;
}

.recommendations__item__2 .up::after{
    content: url("img/Index--page/rec--card2.png");
    padding-top: 7px;
}

.recommendations__item__3 .up::after{
    content: url("img/Index--page/rec--card3.png");
}


/*Секция галерея*/
.gallery{
    margin-top: 280px;
}

.gallery__wrapper{
    padding: 0 0 0 0;
    /*width: 85%;*/
    margin: 0 auto;
}

.gallery__fotos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;

    height: 620px;
}

.gallery__fotos .gallery__item{
    width: 534px;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);

    cursor: pointer;

    -webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;
}

.gallery__item:hover{
    /*    transform: scale(1.07);*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/*Секция новости*/
.news{
    margin-top: 250px;
}

.news__wrapper{
    margin: 0 auto;
}


.news__content{
    /*    height: 640px;*/
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #C4C4C4;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__man{
    margin-top: auto;
}

.news__text{
    margin-right: 20px;
    /*    width: 672px;*/
    padding-top: 30px;
    padding-bottom: 30px;
}

.text__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #212121;
}

.text__content{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #212121;
}

/*Секция рекомендации для вас*/
.rec--for--you{
    margin-top: 250px;
}

.rec--for--you .container{
    padding: 0 0 0 0;
}

.rec--for--you img{
    /*    margin-left: -15px;*/
    width: 100%;
}


/*Футер*/
.footer{
    margin-top: 250px;
    padding-top: 123px;
    padding-bottom: 80px;
    background: #171A1E;
}

.footer__left{
    width: 800px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer__location--info{
    margin-left: 50px;

    padding-top: 47px;
    padding-bottom: 47px;
    padding-left: 5px;

    border-top: 2px solid #393C40;
    border-bottom: 2px solid #393C40;
}

.footer__organization--info{
    margin-left: 67px;
    margin-top: 57px;
}

.footer__right{
    width: 157px;

    margin-left: auto;
    margin-right: 150px;
    margin-top: 18px;

    display: flex;
    justify-content: space-between;
}

.footer__social--link{
    cursor: pointer;

    -webkit-transition: all 0.2s ease;;
    -moz-transition: all 0.2s ease;;
    -o-transition: all 0.2s ease;;
    transition: all 0.2s ease;
}


.footer__social--link:hover{
    transform: translatey(-5px);
}




@media (max-width: 1100px) {

    .header{
        font-size: 18px;
    }

    .menu{
        margin-left: 30px;
    }

    .header input{
        width: 130px;
        height: 26px;
        font-size: 16px;
    }

    .slider{
        height: auto;
        margin-top: 140px;
    }

    .left--man{
        width: 280px;
    }

    .right--man{
        width: 270px;
        margin-right: -30px;
    }

    .title{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .recommendations{
        margin-top: 140px;
    }

    .recommendations__cards{
        flex-wrap: wrap;
    }

    .recommendations__item:hover{
        transform: scale(1.0);
    }


    .recommendations__cards .up::after{
        transform: scale(0.9);
        padding: 0 0 0 0 ;
    }
    .recommendations__item{
        width: 340px;
        height: 422px;
    }

    .recommendations__item__3{
        margin: 30px auto;
    }

    .down{
        height: 50%;
        border-radius: 0 0 40px 40px;
        background: white;

        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;

        font-style: normal;
    }

    .down__title{
        font-size: 18px;
        color: #212121;
        line-height: 23px;
    }

    .down__content{
        font-size: 15px;
        margin-top: 12px;
        color: #474747;
        line-height: 20px;
    }

    .gallery{
        margin-top: 140px;
    }

    .gallery__fotos{
        /*        display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap:  nowrap;*/
        justify-content: space-around;
        height: auto;
    }

    .gallery__fotos .gallery__item{
        width: 40%;
        margin-bottom: 30px;
    }

    .news__man img{
        width: 240px;
    }

    .news__text{
        margin-right: 20px;
        width: 70%;
    }

    .text__title{
        font-size: 20px;
        line-height: 24px;
    }

    .text__content{
        font-size: 18px;
        line-height: 21px;
    }

    .news{
        margin-top: 140px;
    }

    .rec--for--you{
        margin-top: 140px;
    }

    .rec--for--you__content img{
        width: 100%;
    }
}



@media (max-width: 991px) {


    .gallery__fotos{
        /*        display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap:  nowrap;
                height: auto; */
    }

    .gallery__fotos .gallery__item{
        /*        width: 70%;
                margin-bottom: 30px;*/
    }

    .text__title{
        font-size: 19px;
        line-height: 23px;
    }

    .text__content{
        font-size: 17px;
        line-height: 20px;
    }

}




@media (max-width: 768px) {

    .slider{
        justify-content: center;
    }

    .recommendations__cards{
        flex-direction: column;
        align-items: center;
    }

    .recommendations__item__3{
        margin: 0px auto;
    }

    .recommendations__item{
        margin-top: 20px
    }

    .left--man, .right--man{
        display: none;
    }


    .gallery__fotos{
        flex-direction: column;
        align-content: center;
    }

    .gallery__fotos .gallery__item{
        width: 70%;
        margin-bottom: 30px;
    }

    .news__man{
        display: none;
    }

    .news__text{
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }

    .text__content{
        font-size: 16px;
    }


    .footer{
        margin-top: 140px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer__left{
        width: 100%;

        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
    }

    .footer__location--info{
        margin-left: 0px;

        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        /*padding-left: 5px;*/

        border-top: 2px solid #393C40;
        border-bottom: 2px solid #393C40;
    }

    .footer__organization--info{
        text-align: center;
        margin-left: 0px;
        margin-top: 40px;
    }

    .footer__right{
        width: 157px;

        margin-left: auto;
        margin-right: auto;
        margin-top: 18px;

        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 576px) {
    .footer__left{
        font-size: 14px;
    }
}